[Desktop Entry]
Type=Application
Name=Linuxy
Comment=One-click Linux Application Manager - Open Source
Exec=linuxy %U
Icon=linuxy
Categories=Utility;System;
Keywords=Application;Manager;Linux;
StartupNotify=true
StartupWMClass=linuxy
